.errorMessage{
    color: rgb(185, 37, 37);
}

input[type="text" i], input[type="password" i], input[type="email" i], input[type="number" i] {
    height: 25px;
    border-radius: 5px;
    padding: 4px;
    border: solid thin #aaa;
    width: 100%;
    background-color: white;
    color: black;
}

.formName{
    margin: 10px 10px 10px 0;
    font-weight: bold;
    font-size: 20px;
}
#button{
    cursor: pointer;
    padding: 10px;
    width: 100px;
    color: white;
    background-color: rgb(45, 184, 231);
    border: none;
    border-radius: 15px;
}
#button:hover{
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}


#box{
    background-color: rgb(190, 189, 189, 0.5);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    margin: auto;
    min-width: 300px;
    width: auto;
    max-width: 350px;
    padding: 20px;
    border-radius: 15px;
    font-size: 18px;
}
.small-text{
    font-size: small;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    background: white;
    background-image: none;
    border: 1px solid black;
}
 
.select {
    position: relative;
    display: block;

    line-height: 3;
    background: #acb2b9;
    overflow: hidden;
    border-radius: .25em;
}
 
select {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 0 0 .5em;
    color: black;;
    cursor: pointer;
}
 
select::-ms-expand {
    display: none;
}
 
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 1em;
    background: #667381;
    pointer-events: none;
}
 
.select:hover::after {
    color: #F39C12;
}
 
.select::after {
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}

a:link{
    text-decoration: none;
}
#box a:link:hover{
    text-decoration: underline;
}